.title-container {
    display: inline-flex;
    align-items: center;
    margin-top: 3rem;
}

#edit-name-btn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #F28C28;
    font-size: 28px;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    flex: 1;
}

.row {
    margin: 3rem 0;
    padding: 0.5rem;
    background-color: var(--frame-background);
    border: 10px solid var(--frame-edge);
    box-shadow: 10px 10px 10px var(--frame-text);
}

.new-save-btn-text {
    padding: 0.25rem;
    margin: 0;
}

.edit-delete-play-btn {
    margin: 0 4px;
}

.edit-delete-play-btn-icon {
    width: 36px;
}