.credits-title {
    background-color: white;
    position: relative;
    z-index: 0;
}

.task-p {
    margin: 2rem 0;
    overflow: hidden;
    position: relative;
    animation: scroll 120s linear forwards;
    z-index: -1;
}

@keyframes scroll {
    from { top: 0 }
    to {top: -7500px}
}