.edit-delete-play-btn {
    margin: 0 4px;
}

.edit-delete-play-btn-icon {
    width: 42px;
    height: 42px;
}

.tooltip-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 42px;
    height: 42px;
    font-weight: bold;
    font-size: 13px;
    background-color: var(--frame-edge);
}

.hidden {
    display: none;
}