.header {
    background-color: #F28C28;
    /* background-color: var(--frame-edge); */
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.nav {
    background-color: #F28C28;
    /* background-color: var(--frame-edge); */
    position: absolute;
    z-index: 1;
    right: 0;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
}

.title {
    /* flex: 1;
    height: fit-content;
    background-color: #F28C28; */
    height: 79px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* margin-left: 40%; */
}

.menu-btn {
    border: none;
    background-color: #F28C28;
    padding: 1rem;
    /* background-color: var(--frame-edge); */
}

.menu-btn h2 {
    font-weight: bold;
}

.menu-link, .menu-link-last {
    text-decoration: none;
    color: black;
}

.menu-link h3 {
    padding: 0.5rem 1rem;
}

.menu-link-last {
    padding: 0.5rem 1rem 1rem 1rem;

}

.menu-link:hover h3, .menu-link-last:hover h3 {
    background-color: #F9C795;
}

.current {
    text-decoration: underline;
}





