* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Stardew";
  src: local("Stardew_Valley"),url("./fonts/Stardew_Valley.ttf") format(truetype);
}

@font-face {
  font-family: "AmaticSC";
  src: local("AmaticSC-Regular"),url("./fonts/AmaticSC-Regular.ttf") format(truetype);
}

.App {
  text-align: center;
  font-family: "AmaticSC";
}

.hidden {
  display: none;
}
