:root {
  --frame-edge: #d47f4b;
  --frame-background: #f9d894;
  --frame-text: #763812;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Stardew";
  src: local("Stardew_Valley"),url("./fonts/Stardew_Valley.ttf") format(truetype);
}

@font-face {
  font-family: "AmaticSC";
  src: local("AmaticSC-Regular"),url("./fonts/AmaticSC-Regular.ttf") format(truetype);
}

body {
  min-height: 100vh;
}

h3 {
  margin: 0;
}

.App {
  text-align: center;
  font-family: "AmaticSC";
}

.page-title {
  margin-top: 3rem;
}

.hidden {
  display: none;
}


